.main {
  width: 350px;
  height: 540px;
  background-color: rgba(164, 242, 242, 0.413);
  margin: 5rem 2rem 5rem;
  display: inline-block;
  /* gap: 1rem; */
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  border-radius: 40px;
}
.card {
  width: 300px;
  height: 500px;
  /* background-color: cadetblue; */
  margin: 1rem auto;
  text-align: center;
}
.mainİmg {
  width: 200px;
  height: 200px;
}
.mainİmg:hover {
  transform: scale(1.2);
}
h4 {
  margin: 0.5rem;
}
.desc {
  width: 290px;
  height: 200px;
  padding: 5px;
  /* margin: auto; */
  /* background-color: bisque; */
}
.btn {
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 15px;
  background-color: rgb(60, 95, 105);
  color: white;
  font-weight: 600;
}
